@keyframes odddown {
  0%   { opacity: 0; }
  100% { opacity: 0; }
}

.live-btn.up {
    background: #55b562 !important;
    border: 1px solid #55b562 !important;
    color: #fff !important;
    -webkit-animation: oddup 1s infinite;
    animation: oddup 1s infinite;
}


.oddbtn-row.up, .oddbtn.up {
    border-color: #55b562;
    background: #55b562;
    position: relative;
    -webkit-animation: oddup 1s infinite;
    animation: oddup 1s infinite;
    color: #fff !important;
}


#virtual-odds.virtual-table tbody .match td.other-icons a, #virtual-odds.virtual-table tbody .match td.virtual-btn-column a, #classic_view .live-table tbody .match td.other-icons a, #classic_view .live-table tbody .match td.live-btn-column a {
    color: #fff;
    min-width: 27%;
    display: inline-block;
    padding: 3px 0;
    border-radius: 3px;
}

.live-btn.down {
    background: #da2f2f !important;
    border: 1px solid #da2f2f !important;
    color: #fff !important;
    -webkit-animation: odddown 1s infinite;
    animation: odddown 1s infinite;
}

.oddbtn-row.down, .oddbtn.down {
    border-color: #da2f2f;
    background: #da2f2f;
    position: relative;
    -webkit-animation: odddown 1s infinite;
    animation: odddown 1s infinite;
    color: #fff !important;
}

.oddbtn-row, .oddbtn {
    border: 1px solid #2b313c;
    background: #2b3340;
    background: -moz-linear-gradient(top,#2b3340 0,#1f2731 100%);
    background: -webkit-linear-gradient(top,#2b3340 0,#1f2731 100%);
    background: linear-gradient(to bottom,#2b3340 0,#1f2731 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3340', endColorstr='#1f2731', GradientType=0 );
}
tr td:nth-child(1) {
width: 80px;
}
tr td:nth-child(2) {
width: 350px;
}
tr th:nth-child(1) {
width: 80px;
}
tr td::first-child {
    min-width: 350px;
}


/*
button[class^="change-up"] {
    background-color: green;
    animation: play 5s steps(100);
}
button[class^="change-up"] {
    animation: play2 5s steps(100);
}


@keyframes play {
  100% {
    color : white;
    background-color: green;
     }
}

@keyframes play2 {
  100% {
    color : white;
    background-color: red;
     }
}
*/
